.background {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10em;
    text-shadow: 2px 2px 2px black;
}